<nav class="navbar" fxLayout="row" fxLayoutAlign="space-between center">
  <span class="logo" fxLayout="row" fxLayoutAlign="start center">
    <img src="./assets/images/HomeLogo.png" />
  </span>

  <span class="menu">
    <a href="#home">Home</a>
    <a href="#prizes">Prizes</a>
    <a href="#roadMap">Road Map</a>
    <a href="#meet">Meet Nour Trades</a>
  </span>

  <div class="connect" fxLayout="row" fxLayoutAlign="end center">
    <span class="social-media" fxLayout="row">
      <a class="gradient-background social-media-icon">
        <fa-icon class="icon" [icon]="faInstagram"></fa-icon>
      </a>
      <a class="gradient-background social-media-icon">
        <fa-icon class="icon" [icon]="faTwitter"></fa-icon>
      </a>
      <a class="gradient-background social-media-icon">
        <fa-icon class="icon" [icon]="faDiscord"></fa-icon>
      </a>
    </span>

    <a class="gradient-background redirect-btn">
      Enter NOW
    </a>
  </div>
</nav>
