<app-header></app-header>
<section id="home" class="home-section" fxLayout="column" fxLayoutAlign="space-around center">
  <div class="gradient-background campaign-logo"></div>
  <div class="introduction">
    <p>NFT GiveBack is Using Nft's to give back. It's simply, A HUGE giveaway in which the more
      entries you have the more odds you have of winning a prize.
      Each giveaway we guarantee more than 50 winners</p>
  </div>
  <a class="gradient-background redirect-btn">Connect to OpenSea</a>
</section>

<section id="introVideo">

</section>

<section id="prizes" class="prizes" fxLayout="column" fxLayoutAlign="space-around center">
  <h1>Prizes</h1>
  <app-card-list [data]="prizes"></app-card-list>
</section>

<section id="roadMap" fxLayout="column" fxLayoutAlign="space-around center">
  <h1>NFT Giveback Roadmap</h1>
</section>

<section id="meet" fxLayout="column" fxLayoutAlign="space-around center">
  <h1>Meet Nour Trades</h1>
</section>
<app-footer></app-footer>
